body {
  font-family: monospace;
  background: #222;
  color: #eee;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #9494ff;
}

li {
  padding: 2px 0;
}

header {
  position: fixed;
  top: 0;
  background: #222;
  width: 100%;
  padding: 5px 0;
}

container {
  margin-top: 30px;
  width: calc(100% - 20px);
  padding: 0 10px;
  display: block;
}

#search {
  float: right;
  padding: 0 10px;
}

input, button {
  background: none;
  border: none;
  outline: none;
}

input {
  color: #eee;
  font-size: 16px;
  font-family: monospace;
}

input[type="text"] {
  border-bottom: 1px solid #eee;
  width: 250px;
}

button {
  color: #9494ff;
  border: 1px solid #9494ff;
  margin-left: 15px;
  outline: none;
}

#search-results {
  width: 100%;
}

#mb-results {
  width: 50%;
  float: left;
}

#yt-results {
  width: 50%;
  float: right;
}
